name: i2util-workflow
  
on:
  workflow_dispatch:
    inputs:  
      BUILD_VARS_JSON:
        description: 'Build var json file'
        required: true
  workflow_run:
    workflows: "Create Artifacts and pass runid"
    branches: 'github-workflow'
    types:
      - completed

jobs:

  call-reusable:
    uses: cs1867/project/.github/workflows/reuseable.yml@master
    with:
      BUILD_VARS_JSON: ${{ inputs.BUILD_VARS_JSON }}

  show-result:
    runs-on: ubuntu-latest
    needs: call-reusable
    steps:
      - run: |
         echo "Build OS : ${{ needs.call-reusable.outputs.BUILD_OS }}"
         echo "Build TYPE : ${{ needs.call-reusable.outputs.BUILD_TYPE }}"
         echo "Build BRANCH : ${{ needs.call-reusable.outputs.BUILD_BRANCH }}"

      - name: Add GitHub run ID to buildids
        id: add_run_id
        run: |
         echo "GITHUB_RUN_ID=${{ github.run_id }}"

      - name: echo json
        id: review-json
        run: |
         echo "Modified JSON file: ${{ needs.call-reusable.outputs.BUILD_VARS_JSON }}"
      
      - name: Check out Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.call-reusable.outputs.BUILD_BRANCH }}
          
      - name: Create a temporary artifact downloads folder
        run: mkdir aritfacts

      - name: run docker oneshot builder
        run: |
          curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - . '${{ needs.call-reusable.outputs.BUILD_OS }}'  
          
      - uses: actions/upload-artifact@v4
        with:
           name: ${{ github.event.repository.name }}-${{ needs.call-reusable.outputs.BUILD_OS }}
           path: unibuild-repo
           retention-days: 5
