name: i2util-workflow
  
on:
  workflow_dispatch:
    inputs:  
      BUILD_VARS_JSON:
        description: 'Build var json file'
        required: true
  workflow_run:
    workflows: "Create Artifacts and pass runid"
    branches: 'github-workflow'
    types:
      - completed

jobs:
  set-vars:
    runs-on: ubuntu-latest
    outputs:
      animal: ${{ steps.set.outputs.animal }}
    steps:
      - id: set
        run: echo "animal=Dogs" >> $GITHUB_OUTPUT
        
  call-reusable:
    uses: cs1867/project/.github/workflows/reuseable.yml@master
    needs: set-vars
    with:
      BUILD_VARS_JSON: ${{ inputs.BUILD_VARS_JSON }}

  show-result:
    runs-on: ubuntu-latest
    needs: call-reusable
    steps:
      - run: |
         echo "Final Result: ${{ needs.call-reusable.outputs.result }}"
         echo "Build OS : ${{ needs.call-reusable.outputs.BUILD_OS }}"
    
