name: i2util-workflow
  
on:
  workflow_dispatch:
    inputs:  
      BUILD_VARS_JSON:
        description: 'Build var json file'
        required: true
 
jobs:

  call-reusable:
    uses: cs1867/project/.github/workflows/reusable.yml@master
    with:
      BUILD_VARS_JSON: ${{ inputs.BUILD_VARS_JSON }}
    secrets:
      token: ${{ secrets.GIT_ACTIONS }}
      
  build-i2util:
    needs: call-reusable 
    runs-on: ubuntu-latest
     
    steps:

      - name: Capture start date and time
        id: start_time
        run: echo "start_time=$(date -u)" >> $GITHUB_ENV
       
      - name: Add start time to build-vars.json
        run: |
          modified_json=$(echo '${{ github.event.inputs.BUILD_VARS_JSON }}' | jq '.buildstats += { "${{ github.event.repository.name }}-start": "${{ env.start_time }}" }' )
          BUILD_VARS_JSON=$(echo "$modified_json" | jq -c '.')
          echo "BUILD_VARS_JSON=$BUILD_VARS_JSON" >> $GITHUB_ENV

      - name: Get build vars from input file
        id: extract-build-vars
        run: |
          BUILD_OS=$(echo  "$BUILD_VARS_JSON" | jq -r '.buildstats.OS' )
          BUILD_BRANCH=$(echo  "$BUILD_VARS_JSON" | jq -r '.buildstats.BUILD_BRANCH' )
          BUILD_TYPE=$(echo  "$BUILD_VARS_JSON" | jq -r '.buildstats.BUILD_TYPE' )
          echo "BUILD_OS=$BUILD_OS" >> $GITHUB_ENV 
          echo "BUILD_BRANCH=$BUILD_BRANCH" >> $GITHUB_ENV
          echo "BUILD_TYPE=$BUILD_TYPE" >> $GITHUB_ENV
          echo "BUILD_OS=$BUILD_OS"
          echo "BUILD_BRANCHN=$BUILD_BRANCH"
          echo "BUILD_TYPE=$BUILD_TYPE"
          
    
