name: i2util-workflow

on:
  workflow_dispatch:
    inputs:  
      BUILD_VARS_JSON:
        description: 'Build var json file'
        required: true
  workflow_run:
    workflows: "Create Artifacts and pass runid"
    branches: 'github-workflow'
    types:
      - completed

jobs:
  pre_build_setup:
    uses: cs1867/project/.github/workflows/pre-build-setup.yml@master
    with:
      BUILD_VARS_JSON: ${{ github.event.inputs.BUILD_VARS_JSON }}
    secrets:
      GIT_ACTIONS: ${{ secrets.GIT_ACTIONS }}

  build_i2util:
    runs-on: ubuntu-latest
    needs: pre_build_setup
    env:
      BUILD_VARS_JSON: ${{ needs.pre_build_setup.outputs.BUILD_VARS_JSON }}
      BUILD_OS: ${{ needs.pre_build_setup.outputs.BUILD_OS }}
      BUILD_BRANCH: ${{ needs.pre_build_setup.outputs.BUILD_BRANCH }}
      BUILD_TYPE: ${{ needs.pre_build_setup.outputs.BUILD_TYPE }}
      
    steps:
    
      - name: Confirm raw job outputs from pre_build_setup
        run: |
         echo "=== Raw job outputs from pre_build_setup ==="
         echo "BUILD_VARS_JSON: ${{ needs.pre_build_setup.outputs.BUILD_VARS_JSON }}"
         echo "BUILD_OS: ${{ needs.pre_build_setup.outputs.BUILD_OS }}"
         echo "BUILD_BRANCH: ${{ needs.pre_build_setup.outputs.BUILD_BRANCH }}"
         echo "BUILD_TYPE: ${{ needs.pre_build_setup.outputs.BUILD_TYPE }}"

      - name: Confirm populated env vars in build_i2util
        run: |
         echo "=== Environment Variables in build_i2util ==="
         echo "BUILD_OS=$BUILD_OS"
         echo "BUILD_BRANCH=$BUILD_BRANCH"
         echo "BUILD_TYPE=$BUILD_TYPE"
         echo "$BUILD_VARS_JSON" | jq .
         
      - name: Print build vars (debug)
        run: |
          echo "==== Incoming BUILD_VARS_JSON ===="
          echo "$BUILD_VARS_JSON" | jq .
          echo
          echo "==== Incoming ENV Variables ===="
          echo "BUILD_OS=$BUILD_OS"
          echo "BUILD_BRANCH=$BUILD_BRANCH"
          echo "BUILD_TYPE=$BUILD_TYPE"

     # - name: Create artifact downloads folder
     #   run: mkdir artifacts

    #  - name: Run docker oneshot builder
    #    run: |
    #      curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - . '${{ env.BUILD_OS }}'  

     # - uses: actions/upload-artifact@v4
     #   with:
     #     name: ${{ github.event.repository.name }}-${{ env.BUILD_OS }}
     #     path: unibuild-repo
     #     retention-days: 5
