name: i2util-workflow
  
on:
  workflow_dispatch:
    inputs:  
      BUILD_VARS_JSON:
        description: 'Build var json file'
        required: true
  workflow_run:
    workflows: "Create Artifacts and pass runid"
    branches: 'github-workflow'
    types:
      - completed

jobs:

  call-reusable:
    uses: cs1867/project/.github/workflows/prepare-build.yml@master
    with:
      BUILD_VARS_JSON: ${{ inputs.BUILD_VARS_JSON }}

  show-result:
    runs-on: ubuntu-latest
    needs: call-reusable
    steps:
      - run: |
         echo "Build OS : ${{ needs.call-reusable.outputs.BUILD_OS }}"
         echo "Build TYPE : ${{ needs.call-reusable.outputs.BUILD_TYPE }}"
         echo "Build BRANCH : ${{ needs.call-reusable.outputs.BUILD_BRANCH }}"
    
  oneshot-build:
    needs: call-reusable
    uses: cs1867/project/.github/workflows/oneshot-builder.yml@master
    with:
      BUILD_OS: ${{ needs.call-reusable.outputs.BUILD_OS }}
      BUILD_TYPE: ${{ needs.call-reusable.outputs.BUILD_TYPE }}
      BUILD_BRANCH: ${{ needs.call-reusable.outputs.BUILD_BRANCH }}
      BUILD_VARS_JSON: ${{ needs.call-reusable.outputs.build_vars_json }}

  post-build:
    needs: 
      - call-reusable
      - oneshot-build
    uses: cs1867/project/.github/workflows/post-build.yml@master
    with:
      BUILD_OS: ${{ needs.call-reusable.outputs.BUILD_OS }}
      BUILD_TYPE: ${{ needs.call-reusable.outputs.BUILD_TYPE }}
      BUILD_BRANCH: ${{ needs.call-reusable.outputs.BUILD_BRANCH }}
      BUILD_VARS_JSON: ${{ needs.call-reusable.outputs.build_vars_json }}


          

