name: i2util-workflow

on:
  workflow_dispatch:
    inputs:  
      BUILD_VARS_JSON:
        description: 'Build var json file'
        required: true
  workflow_run:
    workflows: "Create Artifacts and pass runid"
    branches: 'github-workflow'
    types:
      - completed

jobs:
  build-i2util:
    runs-on: ubuntu-latest
     
    steps:

      - name: Pre Build Setup
        uses: cs1867/projects/.github/workflows/pre-build-setup.yml@main
              
        with:
          BUILD_VARS_JSON: ${{ github.event.inputs.BUILD_VARS_JSON }}
        secrets:
          GIT_ACTIONS: ${{ secrets.GIT_ACTIONS }} 

      - name: Create a temporary artifact downloads folder
        run: mkdir artifacts

      - name: Run docker oneshot builder
        run: |
          curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - . '${{ env.BUILD_OS }}'  

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ env.BUILD_OS }}
          path: unibuild-repo
          retention-days: 5

      - name: Finalize Build
        uses: cs1867/projects/.github/workflows/finalize-build.yml@main
        with:
          BUILD_VARS_JSON: ${{ env.BUILD_VARS_JSON }}
        secrets:
          GIT_ACTIONS: ${{ secrets.GIT_ACTIONS }}
