name: reuse-i2util-workflow
  
on:
  workflow_dispatch:
    inputs:  
      BUILD_VARS_JSON:
        description: 'Build var json file'
        required: true
  workflow_run:
    workflows: "Create Artifacts and pass runid"
    branches: 'github-workflow'
    types:
      - completed

jobs:
  build-i2util:
    runs-on: ubuntu-latest
     
    steps:

      - name: Capture start date and time
        id: start_time
        run: echo "start_time=$(date -u)" >> $GITHUB_ENV
       
      - name: Add start time to build-vars.json
        run: |
          modified_json=$(echo '${{ github.event.inputs.BUILD_VARS_JSON }}' | jq '.buildstats += { "${{ github.event.repository.name }}-start": "${{ env.start_time }}" }' )
          BUILD_VARS_JSON=$(echo "$modified_json" | jq -c '.')
          echo "BUILD_VARS_JSON=$BUILD_VARS_JSON" >> $GITHUB_ENV
