name: i2util-single-run
  
on:   
  push:   
    branches: [ 'master' ]    
  
env: 
  RUN_ID: ${{ github.run_id }} 
  BUILD_BRANCH: '5.2.4' 
  BUILD_TYPE: 'FULL' 
  BUILD_REPO: 'nightly' 
  OS: 'el9'

jobs:
  build-single-run:
    runs-on: ubuntu-latest
     
    steps:


          
      - name: Check out Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BUILD_BRANCH }}
            
      - name: Create a temporary artifact downloads folder
        run: mkdir artifacts

      - name: run docker oneshot builder
        run: |
         curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - . 'ol8'
                   
      # curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - . ${{ env.OS }}  
          
      #- uses: actions/upload-artifact@v4
      #  with:
      #     name: ${{ github.event.repository.name }}-${{ env.OS }}
      #     path: unibuild-repo
      #     #Don't keep these for long.  This is just a test.
      #     retention-days: 5

 
    
