name: i2util-workflow
  
on:  
  workflow_dispatch:
  push:   
    branches: [ 'master' ]    
 
env: 
  RUN_ID: ${{ github.run_id }} 
  BUILD_BRANCH: '5.2.3' 
  BUILD_TYPE: 'FULL'
  BUILD_REPO: 'nightly' 
  OS: 'el8'

jobs:
  build-single-run:
    runs-on: ubuntu-latest
     
    steps:

      - name: Capture start date and time
        id: start_time
        run: echo "start_time=$(date -u)"  
          
      - name: Check out Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.BUILD_BRANCH }}
            
      - name: Create a temporary artifact downloads folder
        run: mkdir aritfacts

      - name: run docker oneshot builder
        run: |
          curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - . '${{ github.event.inputs.OS }}'  
          
      - uses: actions/upload-artifact@v4
        with:
           name: ${{ github.event.repository.name }}-${{ github.event.inputs.OS }}
           path: unibuild-repo
           #Don't keep these for long.  This is just a test.
           retention-days: 5

 
    
